.App {
  font-family: sans-serif;
  text-align: center;
}

.App {
  height: 500px;
  width: 350px;
  background: #696969;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

img {
  margin-top: 30px;
  height: 200px;
  width: 200px;
}

h1 {
  font-size: 30px;
}

button {
  border-radius: 5px;
  padding: 12px 20px;
  margin-top: 10px;
  background-color: aqua;
}
